<table class="w-full">
  <tr>
    <td class="pl-[20px] pr-[20px] sm:p-[0px]"><x-image class="w-[600px]" imgUrl="/image-1.png" href="#" /></td>
  </tr>
  <tr>
    <td class="text-[25px]">&nbsp;</td>
 </tr>
 <tr>
  <td class="text-[24px] text-[#005555] font-bold text-center">
    Excepteur sint occaecat cupidatat 
  </td>
 </tr>
 <tr>
  <td class="text-[15px]">&nbsp;</td>
</tr>
 <tr>
  <td class="text-[16px] text-[#444444] text-center pl-[50px] pr-[50px] sm:pl-[20px] sm:pr-[20px]">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
  </td>
 </tr>
 <tr>
  <td class="text-[15px]">&nbsp;</td>
</tr>
<tr>
  <td class="align-center-table">
    <table>
      <tr>
        <td class="w-[50px] text-[15px]">&nbsp;</td>
        <td style="border-radius: 10px;" class="w-[350px] bg-[#008080] text-[20px] text-[#FFFFFF] pt-[12px] pb-[12px] font-bold text-center">
          Ut enim ad minim veniam
        </td>
        <td class="w-[50px] text-[15px]">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class="h-[45px]">&nbsp;</td>
</tr>
</table>
