<table class="w-full bg-[#F0F5F5]">
  <tr>
    <td class="h-[30px]">&nbsp;</td>
 </tr>
  <tr>
    <td class="text-[24px] text-[#005555] font-bold text-center">Sint cupidatat occaecat ut</td>
  </tr>
  <tr>
    <td class="text-[25px]">&nbsp;</td>
 </tr>
 <tr>
  <td class="pl-[20px] pr-[20px]">
    <table>
      <tr>
        <td class="pl-[25px] pr-[25px] bg-[#ffffff] sm:w-full sm:inline-block">
          <table>
            <tr>
              <td class="pt-[25px] text-center">
                <x-image class="w-[100px]" imgUrl="/icon.png" href="#" />
              </td>
            </tr>
            <tr>
              <td class="pt-[15px] text-[20px] font-bold text-[#005555] text-center">
                Nisi ut ade
              </td>
            </tr>
            <tr>
              <td class="pt-[20px] text-[16px] text-[#444444] text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[8px] [line-height:0] [vertical-align:6px]">1</span>
              </td>
            </tr>
            <tr>
              <td class="text-[25px]">&nbsp;</td>
            </tr>
          </table>
        </td>
        <td class="w-[20px] sm:w-full sm:inline-block sm:h-[30px]">&nbsp;</td>
        <td class="pl-[25px] pr-[25px] bg-[#ffffff] sm:w-full sm:inline-block">
          <table>
            <tr>
              <td class="pt-[25px] text-center">
                <x-image class="w-[100px]" imgUrl="/icon.png" href="#" />
              </td>
            </tr>
            <tr>
              <td class="pt-[15px] text-[20px] font-bold text-[#005555] text-center">
                Duis aute irure
              </td>
            </tr>
            <tr>
              <td class="pt-[20px] text-[16px] text-[#444444] text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[8px] [line-height:0] [vertical-align:6px]">2</span>
              </td>
            </tr>
            <tr>
              <td class="text-[25px]">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td class="bg-[#F0F5F5] h-[35px]">&nbsp;</td>
</tr>
</table>
