<table class="w-full">
  <tr>
    <td class="pt-[20px] pl-20px pr-20px sm:pr-16px">
      <table>
        <tr>
          <td class="w-[110px]">
            <x-image class="w-[110px]" imgUrl="/image-2.png" href="#" />
          </td>
          <td class="text-[14px] sm:text-[12px] pl-[30px] sm:pl-[20px]">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco<br class="sm:hidden block">laboris nisi ut aliquip ex ea commodo consequat.
          </td>
        </tr>
      <table>
    </td>
   </tr>
   <tr>
      <td class="text-[14px]">&nbsp;</td>
   </tr>
</table>
