<table class="w-full">
  <tr>
    <td class="pr-[20px] pl-[20px] h-[30px]">&nbsp;</td>
 </tr>
 <tr>
  <td class="pr-[20px] pl-[20px] text-[12px] font-bold text-[#000000]">
    Ut enim ad minim:
  </td>
 </tr>
 <tr>
  <td class="pr-[20px] pl-[20px] text-[15px]">&nbsp;</td>
</tr>
 <tr>
  <td class="pr-[20px] pl-[20px] text-[12px] text-[#000000]">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </td>
 </tr>
 <tr>
  <td class="pr-[20px] pl-[20px] text-[15px]">&nbsp;</td>
</tr>
 <tr>
  <td class="pr-[20px] pl-[20px] text-[12px] text-[#000000]">
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </td>
 </tr>
 <tr>
  <td class="h-[25px]">&nbsp;</td>
</tr>
<tr>
  <td class="pr-[20px] pl-[20px] text-[12px] font-bold text-[#000000]">
    Sint occaecat cupidatat:
  </td>
 </tr>
 <tr>
  <td class="text-[10px]">&nbsp;</td>
</tr>
<tr>
  <td class="pl-[20px] pr-[20px]">
    <table class="w-full">
      <tr>
        <td class="text-[12px] text-[#000000] align-top whitespace-nowrap pr-[5px]">1.</td>
        <td class="text-[12px] text-[#000000] text-left">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </td>
      </tr>
      <tr>
        <td class="text-[12px] text-[#000000] align-top whitespace-nowrap pr-[5px]">2.</td>
        <td class="text-[12px] text-[#000000] text-left">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
        </td>
      </tr>
      <tr>
        <td class="h-[25px]">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td>
    <table class="w-full">
      <tr>
        <td class="w-20px">&nbsp;</td>
        <td style="border-top: 1px solid #002B2B;" class="text-[1px]">&nbsp;</td>
        <td class="w-20px">&nbsp;</td>
      </tr>
      </table>
    </td>
</tr>
<!-- <tr>
  <td class="h-[25px]">&nbsp;</td>
</tr> -->
</table>
